# Node modules
node_modules/

# Playwright
/test-results/
/reports/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright-report/


# Storage state (IMPORTANT)
storageState.json

# Environment files
.env
